body {
  font-family: 'Open Sans', sans-serif;
  color: gray;
}
      
a, a:hover, a:active { 
  text-decoration: none;
  color: gray;
} 

.jumbotron .container {
}

.jumbotron {
  position: relative;
  background-image: url('tfels_catalpa_christies_horizontal.jpg') /*no-repeat center center*/;
/*  top:50px;*/
/*  height: 300px;*/
/*  height: 100%; */
/*  background-color: transparent !important; */
/*  background:none;*/
/*  nice try...*/
  background-repeat: no-repeat;
  background-size: cover;
}


/*    Fix me! The navbar text color is not changing for me... */
      .navbar {
        color: darksalmon !important;
      }
      
/*      Fix me! Need to set margins around text like a bootstrap-using adult... */
      .hixnixstixpix {
        padding-left, padding-right: 20px;
      }
      
      