      body {
        font-family: 'Open Sans', sans-serif;
        color: gray;
      }
      
      a, a:hover, a:active { 
        text-decoration: none;
        color: gray;
      } 


.jumbotron {
  background-image:url('tfels_catalpa_christis_w1600px.jpg');
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}
.jumbotron .container {
  position:relative;
  top:50px;
}
      
      
/*    Fix me! The navbar text color is not changing for me... */
      .navbar {
        color: darksalmon;
      }
      
/*      Fix me! Need to set margins around text like a bootstrap-using adult... */
      .hixnixstixpix {
        padding-left, padding-right: 20px;
      }
      
      